body{
    background-color: #D60EC1;
}


.robot{
    position: fixed;
    transform:translate(-50%, -50%);
    left:50%;
    top:50%;
    height:10rem;
    width: 10rem;
    background-color: aliceblue;
}


.robot-head{
    position: absolute;
    background-color: white;
    height: 5rem;
    width: 8rem;
    transform: translate(-50%, -50%);
    top: -10%;
    left: 50%;
    border-radius: 3rem;
    
}

.robot-head .face{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: black;
    height: 2.5rem;
    width: 5rem;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    border-radius: 2rem;

}

.robot-head .face .eye{
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    background-color: red;

}

.robot-body{
    position: absolute;
    background-color: white;
    height: 10rem;
    width: 10rem;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;
    border-radius: 5rem;
}


